@import '~style/vars';
@waveImg: 'components/Background/sea.gif';
@waveHeight: 15px;
@waveWidth: 500px;

.container {
    position: relative;
    margin-top: 10rem;
    background: linear-gradient(to bottom, @blue, black);

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: -@waveHeight;
        height: @waveHeight;
        background-image: url(@waveImg);
        background-position: center; 
        background-size: @waveWidth @waveHeight;
    }  
}

.heading {
    font-size: @fontSizeXL;
}