@kiste: 'graphics/illustrations/kiste.gif';
@schraube: 'graphics/illustrations/schraube.gif';

@ratio: .5571;
@width: 10vh;

@media (max-height: 500px) {
    @width: 200px;
}

@height: (@width / @ratio);

.container {
    width: @width;
    height: @height;
    animation-duration: 10s;
    animation-name: floatVertically;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.kiste {
    background-image: url(@kiste);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: @width;
    height: @height;
    position: absolute;
    animation-duration: 5s;
    animation-name: floatSideways;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.schraube {
    width: 40%;
    position: absolute;
    top: 70%;
    left: 30%;

    &_inner {
        background-image: url(@schraube);
        background-size: cover;
        animation: schraube 2s linear infinite;
        padding-bottom: 100%;
    }
}

@keyframes schraube {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes floatSideways {
    0% {
        transform: translateX((@width * .4));
    }

    50% {
        transform: translateX(-(@width * .4));
    }

    100% {
        transform: translateX((@width * .4));
    }
}

@keyframes floatVertically {
    0% {
        transform: translateY((@width * .2));
    }

    50% {
        transform: translateY(-(@width * .2));
    }

    100% {
        transform: translateY((@width * .2));
    }
}