@import '~style/vars';

.container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 12rem;
    overflow: hidden;
    z-index: 1;

    @media (max-width: @widthBreak), (max-height: @heightBreakL) {
        width: 10rem;
    }

    @media (max-width: 750px) {
        width: 7rem;
    }

    @media (min-width: @widthBreakXXL) {
        top: 2rem;
        right: 2rem;
    }
}