@import '~style/vars';

.container {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50vh;
}

.inner {
    position: relative;
    max-width: @sectionWidth;
    margin-top: 1rem;
}

.logo {
    margin-bottom: 3rem;
    position: absolute;
    width: 100%;
    bottom: 100%;
}