@import '~style/vars';

.top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50vh;
    font-size: @fontSizeL;
    min-height: 50vh;    
}

.container {
    min-height: 300vh;
    position: relative;
}

.inner {
    position: relative;
    max-width: @sectionWidth;
    margin-top: 1rem;
    text-align: center;
}

.logo {
    margin-bottom: 3rem;
    position: absolute;
    width: 100%;
    bottom: 100%;
}

.kiste {
    position: fixed;
    bottom: 12vh;
    left: ~"calc(50vw - 5vh)";

    @media (max-height: 750px) {
        bottom: 8vh;
    }

    &__bottom {
        position: absolute;
    }
}

.fish {
    @width: @sectionWidth;

    color: @fontColorSea;
    display: flex;
    justify-content: center;
    transition: 2s all;

    &:nth-child(even) {
        .fish_container {
            justify-content: flex-end;
        }
    }

    &:not(&__active) {
        opacity: 0;

        &:nth-child(odd) {
            transform: translateX(-@width);
        }
        &:nth-child(even) {
            transform: translateX(@width);
        }
    }

    &_container_inner {
        min-height: 50vh;
        width: @width;
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }

    &_container {
        flex: 0 1 @width * 3;
        display: flex;
    }

    &_image {
        height: 200px;
        width: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        align-self: center;
    }
}