@import '~style/vars';

@transitionSpeedFast: .5s;
@transitionSpeed: 3s;

.top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50vh;
    font-size: @fontSizeXL;
    min-height: 50vh;
    margin-bottom: 20vh;
}

.scroll_hint {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 1rem;
    text-align: left;
    transition: opacity 1s ease;
    animation-name: fadeIn;
    animation-iteration-count: single;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    line-height: 1;
    font-size: 1.5rem;

    @media (max-width: @widthBreak) {
        display: none;
    }

    > * {
        animation-name: colorFade;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 4s;

        &:nth-child(4n+2) {
            animation-delay: -1s;
        }

        &:nth-child(4n+3) {
            animation-delay: -2s;
        }

        &:nth-child(4n+4) {
            animation-delay: -3s;
        }
    }

    &__active {
        opacity: .5;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: .5;
    }
}

@keyframes colorFade {
    0% {
        color: @blue;
    }

    50% {
        color: white;
    }

    100% {
        color: @blue;
    }
}

.container {
    position: relative;
    padding-bottom: 20rem;
}

.inner {
    position: relative;
    max-width: @sectionWidth;
    margin-top: 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    @media (max-width: @widthBreak) {
        width: 16rem;
    }
}

.logo {
    margin-bottom: 3rem;
    position: absolute;
    width: 100%;
    bottom: 100%;
}

.slogan {
    line-height: 1.2;
}

.kiste {
    position: fixed;
    bottom: 12vh;
    left: ~"calc(50vw - 5vh)";
    transition: left 2s;

    @media (max-height: 750px) {
        bottom: 8vh;
    }

    &__bottom {
        position: absolute;
    }

    &__noJs {
        position: absolute;
        bottom: auto;
        top: 66vh;
    }

    @media (max-width: @widthBreakXL) {
        &__raising {
            left: 2rem;
        }
    }

    @media (max-width: @widthBreakL) {
        &__raising {
            left: 1rem;
        }
    }
}

.fish {
    @width: @sectionWidth;

    color: @fontColorSea;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    transition: @transitionSpeed opacity;
    overflow: hidden;
    font-size: @fontSizeL;

    @media (max-width: @widthBreakL) {
        font-size: @fontSizeM;
        transition-duration: @transitionSpeedFast;
    }

    @media (min-width: @widthBreakXL) {
        &:nth-child(odd) {
            .fish_container {
                justify-content: flex-start;
            }
        }
    }

    &:not(&__active) {
        opacity: 0;

        .fish_image_container {
            transform: translateX(@width);
        }

        @media (min-width: @widthBreakXL) {
            &:nth-child(odd) {
                .fish_image_container {
                    transform: translateX(-@width);
                }
            }
        }
    }

    &_container_inner {
        min-height: 50vh;
        width: @width;
        margin: 3rem 1rem;
        display: flex;
        flex-direction: column;

        @media (max-width: @widthBreakXL) {
            width: ~"calc(100vw - 12rem)";
        }

        @media (max-width: @widthBreakL) {
            width: ~"calc(100vw - 8rem)";
        }
    }

    &_container {
        flex: 0 1 @width * 3;
        display: flex;
        justify-content: flex-end;
    }

    &_heading {
        font-size: @fontSizeXL;
    }

    &_image {
        height: 250px;
        width: 250px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation-name: floatVertically;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 4s;

        &_container {
            transition: @transitionSpeed transform;
            align-self: center;
        }

        &__few {
            > * {
                width: 55%;
                height: 55%;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                animation-name: floatVertically;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;

                &:first-child {
                    right: 0;
                    animation-duration: 5s;
                    animation-delay: -3s;
                }

                &:last-child {
                    bottom: 0;
                    left: 50%;
                    margin-left: -25%;
                    animation-duration: 6s;
                    animation-delay: -1s;
                }
            }
        }

        &__many {
            > * {
                width: 35%;
                height: 35%;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                animation-name: floatVertically;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;

                &:first-child {
                    top: 5%;
                    right: 0;
                    animation-duration: 5s;
                    animation-delay: -3s;
                }

                &:nth-child(2) {
                    top: 20%;
                    left: 20%;
                    animation-delay: -2s;
                    animation-duration: 10s;
                }

                &:nth-child(3) {
                    top: 30%;
                    left: 50%;
                    animation-delay: -3s;
                    animation-duration: 4s;
                }

                &:nth-child(4) {
                    top: 45%;
                    left: 20%;
                    animation-delay: 0;
                    animation-duration: 5s;
                }

                &:last-child {
                    bottom: 0;
                    left: 60%;
                    margin-left: -25%;
                    animation-duration: 3s;
                    animation-delay: -1s;
                }
            }
        }
    }
}

@keyframes floatVertically {
    0% {
        transform: translateY(.5rem);
    }

    50% {
        transform: translateY(-.5rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}