@waveImg: 'components/Tour/wave_separator2.svg';

.list {
    list-style: none;
    padding: 0;
}

.event {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    background-image: url(@waveImg);
    background-position: bottom;
    background-size: 50% 1rem;
    background-repeat: repeat-x;
}

.venue {
    margin-top: 0;
    margin-bottom: .5rem;
}

.dates {
    list-style: none;
    padding: 0;
    margin-top: .5rem;
    align-self: flex-end;
    text-align: right;
}