@import '~style/vars';

@mobileWidth: (@sectionWidth * 2);

.container {
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.inner {
    flex: 0 1 (@sectionWidth * 3);
    padding: 4rem 1rem 1rem;
}

.columns {
    h1 {
        font-size: @fontSizeL;
        margin-top: 0;
    }

    p:first-child {
        margin-top: 0;
    }
    
    @media (min-width: @mobileWidth) {
        display: flex;
        margin: -1rem;

        > * {
            margin: 1rem;
            flex: 0 1 50%;
        }
    }
}

.links {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: @fontSizeS;

    li {
        margin: .5rem;
    }

    a {
        text-decoration: none;
    }
}

.logos {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem -1rem;
}

.logo {
    flex: 0 1 11rem;
    margin: 1rem;

    &_wj {
        flex-basis: 13rem;
    }

    &_bmbf {
        margin-right: 3rem;
        margin-top: 1.2rem;
    }

    @media (min-width: @mobileWidth) {
        &:last-child {
            margin-left: auto;
            margin-top: 1.2rem;
        }
    }

    &_heading {
        text-transform: uppercase;
        font-size: 0.65rem;
        font-weight: 500;
        margin: 0 0 1rem;
    }

    &_img {
        &__wid {
            margin-top: 0;
        }
        width: 100%;
    }
}

 .social_buttons {
    display: flex;
    justify-content: center;
 }