@import '~style/vars';

.container {
    background: white;
    display: flex;
    justify-content: center;
}

.inner {
    flex: 0 1 (@sectionWidth * 3);
    padding: 2rem 1rem;

    @media (min-width: (@sectionWidth * 2)) {
        padding: 4rem 1rem;
    }

    > * {
        margin: 0 1rem;
    }
}

.columns {
    h1 {
        font-size: @fontSizeL;
        margin-top: 0;
    }

    p:first-child {
        margin-top: 0;
    }
    
    @media (min-width: (@sectionWidth * 2)) {
        display: flex;
        margin: -1rem;

        > * {
            margin: 1rem;
            flex: 0 1 50%;
        }
    }
}

.links {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: @fontSizeS;

    li {
        margin: .5rem;
    }

    a {
        text-decoration: none;

        &:hover {
            color: black;
        }
    }
}

.logos {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem -1rem;
}

.logo {
    flex: 0 1 (@sectionWidth / 2);
    margin: 1rem;

    &_heading {
        text-transform: uppercase;
        font-size: @fontSizeS;
        margin: 0 0 1rem;
    }

    &_img {
        width: 100%;
    }
}