@import '~style/vars';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15rem 0;
    color: @fontColorSea;
    -webkit-font-smoothing: antialiased;

    @media (max-height: @heightBreak) {
        margin: 10rem 0;
    }

    @media (max-width: @widthBreak) {
        margin: 5rem 0;
    }

    p {
        font-size: @fontSizeL;
    }

    a {
        color: white;
    }
}

.inner {
    max-width: @sectionWidthWide;
    padding: 1rem;
}