.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    right: 0;
    z-index: -1;
}

.water {
    position: absolute;
    top: 80vh;
    height: 100vh;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, blue, green);
    background: green;
}